body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo img {
    width: 100px;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section.banner {
    background: url('banner.jpg') center/cover no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.banner-content {
    text-align: center;
    margin-bottom: 100px;
}

.banner-content h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.buttons button {
    background-color: #e50914;
    border: none;
    color: white;
    padding: 10px 20px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.buttons button.play:hover {
    background-color: #f40612;
}

.buttons button.info:hover {
    background-color: #ff0a16;
}

footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
